<div ngbAccordionItem [collapsed]="false">
  <h2 ngbAccordionHeader>
    <button ngbAccordionButton>
      {{ request().receivedAt | date:'shortTime' }}
      &nbsp;
      <b>Request to sign personal message</b>
    </button>
  </h2>
  <div ngbAccordionCollapse>
    <div ngbAccordionBody>
      <ng-template>
        @if (request().isPersonalSign) {
          <div class="alert alert-secondary" role="alert">
            <pre class="word-wrap">{{ request().personalSignMessage }}</pre>
          </div>
        }

        In order to get a signature for this message, the owner of the Potato
        needs to call <b>authorizeSignature</b> on the
        <a href="https://arbitrum.blockscout.com/address/{{ request().potato.contractAddress }}">HotPotatoNFT</a>
        contract as follows:
        <div class="alert alert-secondary mt-2" style="padding-bottom: 0">
          <pre>authorizeSignature({{ request().potato.tokenId }}, {{ request().hashToSign() }})</pre>
        </div>

        <button class="btn btn-primary" type="button" (click)="authorizeSignature()">
          Authorize Signature
        </button>

        <button class="btn btn-primary" type="button" (click)="promptTransactionHash()">
          Use Transaction Hash
        </button>

        @if (authorization().error) {
          <div class="alert alert-danger mt-3">
            <b>Authorization:</b>
            {{ authorization().error }}
          </div>
        } @else if (authorization().progress) {
          <div class="alert alert-info mt-3">
            <b>Authorization:</b>
            {{ authorization().progress }}
          </div>
        } @else if (authorization().success) {
          <div class="alert alert-success mt-3">
            <b>Signature authorized:</b>
            Signature number {{ authorization().success!.signatureId }} in block number
            {{ authorization().success!.blockNumber }}
            (View <a href="https://arbitrum.blockscout.com/tx/{{ authorization().success!.transactionHash }}" target="_blank">transaction</a>)
          </div>

          @if (signature().error) {
            <div class="alert alert-danger mt-3">
              <b>Signature:</b>
              {{ signature().error }}
            </div>
          } @else if (signature().progress) {
            <div class="alert alert-info mt-3">
              <b>Signature:</b>
              {{ signature().progress }}
            </div>
          } @else if (signature().success) {
            <div class="alert alert-success mt-3">
              <b>Signature verified:</b>
              {{ signature().success!.serialized }}
            </div>
          }
        }
      </ng-template>
    </div>
  </div>
</div>
