<div class="card shadow-sm">
  <div class="card-body">
    <div class="d-flex mb-3">
      <div style="margin-right: 20px">
        <!--
          Hue in HSL is 0-360
          Saturation: 70 - 90
          L1≈90%,
          L2≈70%,
          L3≈45%
        -->
        <svg width="110" height="110" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
          style="--h: 360; --s: 70%; --l1: 95%; --l2: 75%; --l3: 45%;">
          <defs>
            <radialGradient id="potatoGradient" cx="50%" cy="40%" r="70%">
              <stop offset="0%" stop-color="hsl(var(--h) var(--s) var(--l1))"></stop>
              <stop offset="60%" stop-color="hsl(var(--h) var(--s) var(--l2))"></stop>
              <stop offset="100%" stop-color="hsl(var(--h) var(--s) var(--l3))"></stop>
            </radialGradient>
          </defs>
          <circle cx="100" cy="100" r="100" fill="url(#potatoGradient)"></circle>
          <text x="100" y="100" font-size="100" text-anchor="middle" dominant-baseline="middle">🥔</text>
        </svg>
      </div>
      <div>
        <h3 class="card-title">Hot Potato #{{ potato().tokenId }}</h3>
        <div class>
          Currently owned by
          TODO
        </div>
        <div>
          View on
          <a href="https://arbitrum.blockscout.com/token/{{ potato().contractAddress }}/instance/{{ potato().tokenId }}" target="_blank">
            Blockscout
          </a>
        </div>
        <div>
          View on
          <a href="https://opensea.io/item/arbitrum/{{ potato().contractAddress }}/{{ potato().tokenId }}" target="_blank">
            OpenSea
          </a>
        </div>
      </div>
    </div>

    <p>
      This NFT controls the following EOA wallet using
      <a href="https://learn.internetcomputer.org/hc/en-us/articles/34209497587732-Chain-Key-Signatures">Chain-Key Signatures</a>:
    </p>
    <div class="row mb-2">
      <div class="col-3">
        <b>Public Key:</b>
      </div>
      <div class="col-9">
        {{ publicKey() }}
      </div>

      <div class="col-3">
        <b>Ethereum Address:</b>
      </div>
      <div class="col-9">
        <a href="https://arbitrum.blockscout.com/address/{{ ethAddress() }}" target="_blank">
          {{ ethAddress() }}
        </a>
      </div>
      <div class="col-3">
        <b>Bitcoin Address:</b>
      </div>
      <div class="col-9">
        Coming soon...
      </div>

    </div>
  </div>
</div>

<h2 class="mt-4">PotatoConnect</h2>
<p>
  You can connect to dapps using the Potato's wallet.
  Select WalletConnect in the dapp and paste the link below.
  Note that only the owner of the Potato can authorize signatures.
  If the owner is a smart contract such as a DAO, you can still
  use this flow as long as the owner invokes the NFT's <i>signHash</i>
  method.
</p>

<div class="input-group mb-3">
  <span class="input-group-text">WalletConnect Link:</span>
  <input #walletConnectUrl type="text" class="form-control" placeholder="wc:" aria-label="WalletConnect link" (keydown.enter)="connectWalletConnect(walletConnectUrl.value)">
  <button class="btn btn-primary" type="button" (click)="connectWalletConnect(walletConnectUrl.value)">Connect</button>
</div>

@for (session of sessions$() | async; track session.topic) {
  <div class="card shadow-sm mt-4">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-2">
          <img src="{{ session.metadata.icons[0] }}" style="height: 32px">
          <h5 class="mb-0">{{ session.metadata.name }}</h5>
        </div>
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="session.disconnect()">Disconnect</button>
      </div>
      <div class="text-muted mt-2">
        <a href="{{ session.metadata.url }}" target="_blank">{{ session.metadata.url }}</a>
      </div>

      <div ngbAccordion class="mt-4" [closeOthers]="true">
        @for (request of session.requests$ | async; track request) {
          <potato-connect-request [request]="request"></potato-connect-request>
        }
      </div>
    </div>
  </div>
}
